@font-face {
  font-family: 'StylishCalligraphyDemo';
  src: url('fonts/StylishCalligraphyDemo.eot');
  src: url('fonts/StylishCalligraphyDemo.eot?#iefix') format('embedded-opentype'),
       url('fonts/StylishCalligraphyDemo.woff') format('woff'),
       url('fonts/StylishCalligraphyDemo.ttf') format('truetype'),
       url('fonts/StylishCalligraphyDemo.svg#svgFontName') format('svg');
}

body {
    font-family: 'Asap';
    font-size: 20px;
    letter-spacing: 0.025em;
    line-height: 1.4em;
    color: black;
    text-align: center;
}

h1 {
    font-family : 'StylishCalligraphyDemo', 'Alex Brush', cursive;
    font-weight: 100;
    font-size: 3.75em;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'StylishCalligraphyDemo', 'Alex Brush', cursive;
    font-weight: 100;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

h3 {
    font-family: 'Asap';
    font-style: bold;
    font-size: 1.5em;
    text-align: center;
    color: #A095BA;
}

h4 {
    font-family: 'Asap';
    color: black;
    font-size: 1.25em;
    text-align: center;
    line-height: 1.7em;
}

a {
  color: #A095BA;
}

a:hover {
  color: #A095BA;
  text-decoration: none;
  font-style: italic;
}

button {
    background: 12.5em 5em #A095BA;
    border: none;
    color: white;
    padding: 0.7em 0.8em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Asap';
    font-weight: 100;
    border-radius: 0.3125em;
    box-shadow: 0 0.0625em 0.25em 0 rgba(0,0,0,0.75);
}

button:hover {
    background-color: white;
    color: #A095BA;
    font-style: normal;
}

button:focus {
  outline: none;
}

button:active {
    background-color: white;
    color: #A095BA;
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.75);
}

.container-fluid {
  padding: 0;
}

#landing-page {
    background: url(images/mikatja_bg_uusi.jpg) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45em;
    position: relative;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
    font-family: 'Asap', serif;
    display: inline-block;
    color: black;
    text-align: center;
    margin: 1.25em 1em 0 2em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1em;
}

ul.topnav li a:hover {color: white;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:65em) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:65em) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#tagline {
    position: absolute;
    top: 14em;
}

#RSVP {
    position: absolute;
    top: 32em;
}

#haapari {
    padding: 3.125em 1em 3.125em 1em;
}

#tapahtumapaikat {
    padding: 0 3em 0 3em;
}

#counter {
    margin: 0 auto;
    padding: 1em 0 3.125em 0;
    width: 40em;
    text-align: left;
}

#counter-wrapper {
    background-image: radial-gradient(
        circle,
        #D7D6E3,
        #A095BA
    );
    height: 16em;
    padding: 40px 0 160px 0;
}

.number {
    font-family: 'Asap';
    font-size: 2.8em;
    color: #000000;
    letter-spacing: 0em;
    margin-left: 70px;
}

.time {
    font-family: 'StylishCalligraphyDemo', 'Alex Brush';
    font-size: 1.875em;
    color: black;
    letter-spacing: 0em;
}

#map-canvas {
    height: 50em;
      }

#ilmo {
  background-image: radial-gradient(
      circle,
      white,
      #A095BA
  );
    padding-top: 1.25em;
}

#footer {
    min-height: 9.375em;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.justify {
  text-align: justify;
}

.purple {
    color: #A095BA;
    padding: 50px 0 50px 0;
}

.purple-left {
    color: #A095BA;
    text-align: left;
    padding-top: 1em;
}

.purple-right {
    color: #A095BA;
    text-align: right;
    padding-top: 1em;
}

.marg-bottom-25 {
    margin-bottom: 25px;
}

.marg-bottom-50 {
    margin-bottom: 50px;
}

.marg-bottom-100 {
    margin-bottom: 100px;
}
